<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Items</key>
		<array>
			<dict>
				<key>Link</key>
				<string>http://twitter.com/dimitribouniol</string>
				<key>Name</key>
				<string>Dimitri Bouniol</string>
				<key>Role</key>
				<string>Creator</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Dimitri Bouniol</string>
				<key>Role</key>
				<string>Designer</string>
			</dict>
			<dict>
				<key>Link</key>
				<string>http://doronkatz.com/</string>
				<key>Name</key>
				<string>Doron Katz</string>
				<key>Role</key>
				<string>Contributor</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Mochi Dev</string>
				<key>Role</key>
				<string>Publisher</string>
			</dict>
		</array>
		<key>Type</key>
		<string>List</string>
	</dict>
	<dict>
		<key>Items</key>
		<array>
			<dict>
				<key>Link</key>
				<string>http://elemintsapp.com/</string>
				<key>Name</key>
				<string>EleMints</string>
			</dict>
			<dict>
				<key>Link</key>
				<string>http://mochidev.com/</string>
				<key>Name</key>
				<string>Mochi Development, Inc.</string>
			</dict>
			<dict>
				<key>Link</key>
				<string>https://github.com/mochidev/MDAboutControllerDemo</string>
				<key>Name</key>
				<string>MDAboutController</string>
			</dict>
			<dict>
				<key>Email</key>
				<string>support@mochidev.com</string>
				<key>EmailName</key>
				<string>Mochi Dev Support</string>
				<key>Name</key>
				<string>Contact Us</string>
			</dict>
		</array>
		<key>Title</key>
		<string>Links</string>
		<key>Type</key>
		<string>List</string>
	</dict>
	<dict>
		<key>Items</key>
		<array>
			<dict>
				<key>Controller</key>
				<string>MDAboutControllerViewController</string>
				<key>Name</key>
				<string>Inception?</string>
			</dict>
		</array>
		<key>Title</key>
		<string>More</string>
		<key>Type</key>
		<string>List</string>
	</dict>
	<dict>
		<key>Alignment</key>
		<string>Left</string>
		<key>Link</key>
		<string>https://github.com/mochidev/MDAboutControllerDemo</string>
		<key>Text</key>
		<string>MDAboutController is a complete About UIViewController package for iOS apps. It automatically fetches info from your Info.plist, and also populates credits from Credits.plist. This repository serves to demonstrate and test the MDAboutController class. Please visit the GitHub repository for the actual code :)</string>
		<key>Type</key>
		<string>Text</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>logo.png</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<dict>
		<key>Size</key>
		<string>11</string>
		<key>Text</key>
		<string>© 2010 Mochi Development, Inc.
See license for distribution.</string>
		<key>Type</key>
		<string>Text</string>
	</dict>
</array>
</plist>
